/* 
    css : cascading style sgeet
    html에 <style>을 모두 적으면 너무 길어져서 분리
 */
.kkk {
  display: flex;
  font-family: 맑은 고딕;
  height: 50px;
}
.kkk p,
h4 {
  margin: 0%;
}
.qqq {
  width: 1000px;
  height: 700;
}
.tit img {
  border-radius: 80%;
}
